<nav class="sidebar">
    <div class="sidebar-logo">⏰</div>
    <a routerLink="/timer" routerLinkActive="active" class="nav-item" title="Timer">
        <span class="nav-icon">⌛</span>
        <span class="nav-label">Timer</span>
    </a>
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item" title="Dashboard">
        <span class="nav-icon">📊</span>
        <span class="nav-label">Dashboard</span>
    </a>
    <button class="nav-item nav-logout" (click)="logout()" title="Sair">
        <span class="nav-icon"><img src="../../../assets/icons/logout.png" alt=""></span>
        <span class="nav-label">Sair</span>
    </button>
    <app-theme-toggle></app-theme-toggle>
</nav>